<div id="<%= dom_id thuocnam %>">
  <p>
    <strong>Stt:</strong>
    <%= thuocnam.stt %>
  </p>

  <p>
    <strong>Ten:</strong>
    <%= thuocnam.ten %>
  </p>

  <p>
    <strong>Dacdiem:</strong>
    <%= thuocnam.dacdiem %>
  </p>

  <p>
    <strong>Maula:</strong>
    <%= thuocnam.maula %>
  </p>

  <p>
    <strong>Duoctinh:</strong>
    <%= thuocnam.duoctinh %>
  </p>

  <p>
    <strong>Luuysudung:</strong>
    <%= thuocnam.luuysudung %>
  </p>

  <p>
    <strong>Noitrong:</strong>
    <%= thuocnam.noitrong %>
  </p>

</div>
